{%- comment -%}
  Product form snippet for product templates. Add your custom form fields and logic here.
{%- endcomment -%}

<form method="post" action="/cart/add">
  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
  <button type="submit" class="btn btn-primary">
    Add to cart
  </button>
</form>
