{% schema %}
{
  "name": "🏆 Compteur Elite",
  "settings": [
    {
      "type": "header",
      "content": "🏆 Application Compteur Elite"
    },
    {
      "type": "paragraph",
      "content": "Application de compteur élite avec animations"
    },
    {
      "type": "header",
      "content": "Configuration générale"
    },
    {
      "type": "select",
      "id": "bg_color",
      "label": "Background color",
      "default": "bg-body text-body",
      "options": [
        {
          "group": "Principal",
          "value": "bg-primary text-white",
          "label": "Primaire"
        },
        {
          "group": "Principal",
          "value": "bg-secondary text-white",
          "label": "Secondaire"
        },
        {
          "group": "Principal",
          "value": "bg-tertiary text-white",
          "label": "Tertiaire"
        },
        {
          "group": "Neutre",
          "value": "bg-white text-dark",
          "label": "Blanc"
        },
        {
          "group": "Intermédiaire",
          "value": "bg-light text-body",
          "label": "Claire"
        },
        {
          "group": "Intermédiaire",
          "value": "bg-dark text-white",
          "label": "Sombre"
        },
        {
          "group": "Par défaut",
          "value": "bg-body text-body",
          "label": "Corps (body)"
        },
        {
          "group": "Alerte",
          "value": "bg-success text-white",
          "label": "Succès"
        },
        {
          "group": "Alerte",
          "value": "bg-warning text-dark",
          "label": "Avertissement"
        },
        {
          "group": "Alerte",
          "value": "bg-danger text-white",
          "label": "Danger"
        },
        {
          "group": "Alerte",
          "value": "bg-info text-white",
          "label": "Info"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "bg_gradient",
      "label": "Dégradé de fond",
      "default": false,
      "info": "Ne s'applique pas aux couleurs claires"
    },
    {
      "type": "text",
      "id": "max_width",
      "label": "Largeur maximale (px)",
      "info": "Ajuster la largeur du conteneur (en pixels)",
      "default": "991"
    },
    {
      "type": "header",
      "content": "Espacement de la section"
    },
    {
      "type": "range",
      "id": "pt",
      "label": "Padding supérieure",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "pb",
      "label": "Padding inférieure",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "mt",
      "label": "Marge supérieure",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "mb",
      "label": "Marge inférieure",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Texte",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Texte"
        },
        {
          "type": "select",
          "id": "text_align",
          "label": "Alignement du texte",
          "default": "text-center",
          "options": [
            {
              "value": "text-start",
              "label": "Gauche"
            },
            {
              "value": "text-center",
              "label": "Centre"
            }
          ]
        },
        {
          "type": "image_picker",
          "id": "subtitle_img",
          "label": "Caption Image"
        },
        {
          "type": "text",
          "id": "brand_image_size",
          "label": "Image Largeur/Hauteur (px)",
          "default": "60"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Caption Texte"
        },
        {
          "type": "select",
          "id": "subtitle_size",
          "label": "Caption size",
          "default": "fs-5",
          "options": [
            {
              "group": "Légende Standard",
              "value": "fs-1",
              "label": "Extra Grand"
            },
            {
              "group": "Légende Standard",
              "value": "fs-2",
              "label": "Super Grand"
            },
            {
              "group": "Légende Standard",
              "value": "fs-3",
              "label": "Très Grand"
            },
            {
              "group": "Légende Standard",
              "value": "fs-4",
              "label": "Grand"
            },
            {
              "group": "Légende Standard",
              "value": "fs-5",
              "label": "Moyen"
            },
            {
              "group": "Légende Standard",
              "value": "fs-6",
              "label": "Petit"
            }
          ]
        },
        {
          "type": "color",
          "id": "color_caption",
          "label": "Caption color",
          "default": "#6c757d"
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Title",
          "default": "Texte du compteur"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "label": "Heading tag (SEO)",
          "default": "h2",
          "options": [
            {
              "value": "h1",
              "label": "h1"
            },
            {
              "value": "h2",
              "label": "h2"
            },
            {
              "value": "h3",
              "label": "h3"
            },
            {
              "value": "h4",
              "label": "h4"
            },
            {
              "value": "h5",
              "label": "h5"
            },
            {
              "value": "h6",
              "label": "h6"
            },
            {
              "value": "span",
              "label": "Aucune"
            }
          ]
        },
        {
          "type": "select",
          "id": "title_size",
          "label": "Title size",
          "default": "h2",
          "options": [
            {
              "group": "Titre Standard",
              "value": "h1",
              "label": "Très Grand"
            },
            {
              "group": "Titre Standard",
              "value": "h2",
              "label": "Grand"
            },
            {
              "group": "Titre Standard",
              "value": "h3",
              "label": "Moyen"
            },
            {
              "group": "Titre Standard",
              "value": "h4",
              "label": "Petit"
            },
            {
              "group": "Titre Standard",
              "value": "h5",
              "label": "Très Petit"
            },
            {
              "group": "Titre Standard",
              "value": "h6",
              "label": "Super Petit"
            }
          ]
        },
        {
          "type": "header",
          "content": "🏆 SVG Subtitle Application",
          "info": "👉 Shopiweb Premium Application Version"
        },
        {
          "type": "color",
          "id": "color_svg_h2",
          "label": "SVG color",
          "default": "#fff"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description (optional)",
          "default": "<p>Add an optional description to this section</p>"
        },
        {
          "type": "select",
          "id": "description_size",
          "label": "Description size",
          "default": "fs-5",
          "options": [
            {
              "group": "Standard Description",
              "value": "fs-1",
              "label": "Extra Large"
            },
            {
              "group": "Standard Description",
              "value": "fs-2",
              "label": "Super Large"
            },
            {
              "group": "Standard Description",
              "value": "fs-3",
              "label": "Very Large"
            },
            {
              "group": "Standard Description",
              "value": "fs-4",
              "label": "Large"
            },
            {
              "group": "Standard Description",
              "value": "fs-5",
              "label": "Medium"
            },
            {
              "group": "Standard Description",
              "value": "fs-6",
              "label": "Small"
            }
          ]
        }
      ]
    },
    {
      "type": "timer",
      "name": "Minuterie",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "🏆 Bloc Compteur",
          "info": "👉 Bloc Version Shopiweb Premium"
        },
        {
          "type": "select",
          "id": "year",
          "label": "Année",
          "default": "2024",
          "options": [
            {
              "value": "2022",
              "label": "2022"
            },
            {
              "value": "2023",
              "label": "2023"
            },
            {
              "value": "2024",
              "label": "2024"
            },
            {
              "value": "2025",
              "label": "2025"
            },
            {
              "value": "2026",
              "label": "2026"
            },
            {
              "value": "2027",
              "label": "2027"
            },
            {
              "value": "2028",
              "label": "2028"
            },
            {
              "value": "2029",
              "label": "2029"
            },
            {
              "value": "2030",
              "label": "2030"
            },
            {
              "value": "2031",
              "label": "2031"
            },
            {
              "value": "2032",
              "label": "2032"
            },
            {
              "value": "2033",
              "label": "2033"
            },
            {
              "value": "2034",
              "label": "2034"
            },
            {
              "value": "2035",
              "label": "2035"
            },
            {
              "value": "2036",
              "label": "2036"
            },
            {
              "value": "2037",
              "label": "2037"
            },
            {
              "value": "2038",
              "label": "2038"
            },
            {
              "value": "2039",
              "label": "2039"
            },
            {
              "value": "2040",
              "label": "2040"
            },
            {
              "value": "2041",
              "label": "2041"
            },
            {
              "value": "2042",
              "label": "2042"
            },
            {
              "value": "2043",
              "label": "2043"
            },
            {
              "value": "2044",
              "label": "2044"
            },
            {
              "value": "2045",
              "label": "2045"
            },
            {
              "value": "2046",
              "label": "2046"
            },
            {
              "value": "2047",
              "label": "2047"
            },
            {
              "value": "2048",
              "label": "2048"
            },
            {
              "value": "2049",
              "label": "2049"
            },
            {
              "value": "2050",
              "label": "2050"
            }
          ]
        },
        {
          "type": "select",
          "id": "month",
          "label": "Mois",
          "default": "01",
          "options": [
            {
              "value": "01",
              "label": "Janvier"
            },
            {
              "value": "02",
              "label": "Février"
            },
            {
              "value": "03",
              "label": "Mars"
            },
            {
              "value": "04",
              "label": "Avril"
            },
            {
              "value": "05",
              "label": "Mai"
            },
            {
              "value": "06",
              "label": "Juin"
            },
            {
              "value": "07",
              "label": "Juillet"
            },
            {
              "value": "08",
              "label": "Août"
            },
            {
              "value": "09",
              "label": "Septembre"
            },
            {
              "value": "10",
              "label": "Octobre"
            },
            {
              "value": "11",
              "label": "Novembre"
            },
            {
              "value": "12",
              "label": "Décembre"
            }
          ]
        },
        {
          "type": "select",
          "id": "day",
          "label": "Jour",
          "default": "01",
          "options": [
            {
              "value": "01",
              "label": "01"
            },
            {
              "value": "02",
              "label": "02"
            },
            {
              "value": "03",
              "label": "03"
            },
            {
              "value": "04",
              "label": "04"
            },
            {
              "value": "05",
              "label": "05"
            },
            {
              "value": "06",
              "label": "06"
            },
            {
              "value": "07",
              "label": "07"
            },
            {
              "value": "08",
              "label": "08"
            },
            {
              "value": "09",
              "label": "09"
            },
            {
              "value": "10",
              "label": "10"
            },
            {
              "value": "11",
              "label": "11"
            },
            {
              "value": "12",
              "label": "12"
            },
            {
              "value": "13",
              "label": "13"
            },
            {
              "value": "14",
              "label": "14"
            },
            {
              "value": "15",
              "label": "15"
            },
            {
              "value": "16",
              "label": "16"
            },
            {
              "value": "17",
              "label": "17"
            },
            {
              "value": "18",
              "label": "18"
            },
            {
              "value": "19",
              "label": "19"
            },
            {
              "value": "20",
              "label": "20"
            },
            {
              "value": "21",
              "label": "21"
            },
            {
              "value": "22",
              "label": "22"
            },
            {
              "value": "23",
              "label": "23"
            },
            {
              "value": "24",
              "label": "24"
            },
            {
              "value": "25",
              "label": "25"
            },
            {
              "value": "26",
              "label": "26"
            },
            {
              "value": "27",
              "label": "27"
            },
            {
              "value": "28",
              "label": "28"
            },
            {
              "value": "29",
              "label": "29"
            },
            {
              "value": "30",
              "label": "30"
            },
            {
              "value": "31",
              "label": "31"
            }
          ]
        },
        {
          "type": "select",
          "id": "hour",
          "label": "Heure",
          "default": "00",
          "options": [
            {
              "value": "00",
              "label": "12 AM"
            },
            {
              "value": "01",
              "label": "01 AM"
            },
            {
              "value": "02",
              "label": "02 AM"
            },
            {
              "value": "03",
              "label": "03 AM"
            },
            {
              "value": "04",
              "label": "04 AM"
            },
            {
              "value": "05",
              "label": "05 AM"
            },
            {
              "value": "06",
              "label": "06 AM"
            },
            {
              "value": "07",
              "label": "07 AM"
            },
            {
              "value": "08",
              "label": "08 AM"
            },
            {
              "value": "09",
              "label": "09 AM"
            },
            {
              "value": "10",
              "label": "10 AM"
            },
            {
              "value": "11",
              "label": "11 AM"
            },
            {
              "value": "12",
              "label": "12 PM"
            },
            {
              "value": "13",
              "label": "01 PM"
            },
            {
              "value": "14",
              "label": "02 PM"
            },
            {
              "value": "15",
              "label": "03 PM"
            },
            {
              "value": "16",
              "label": "04 PM"
            },
            {
              "value": "17",
              "label": "05 PM"
            },
            {
              "value": "18",
              "label": "06 PM"
            },
            {
              "value": "19",
              "label": "07 PM"
            },
            {
              "value": "20",
              "label": "08 PM"
            },
            {
              "value": "21",
              "label": "09 PM"
            },
            {
              "value": "22",
              "label": "10 PM"
            },
            {
              "value": "23",
              "label": "11 PM"
            }
          ]
        },
        {
          "type": "select",
          "id": "minute",
          "label": "Minute",
          "default": "00",
          "options": [
            {
              "value": "00",
              "label": "00"
            },
            {
              "value": "01",
              "label": "01"
            },
            {
              "value": "02",
              "label": "02"
            },
            {
              "value": "03",
              "label": "03"
            },
            {
              "value": "04",
              "label": "04"
            },
            {
              "value": "05",
              "label": "05"
            },
            {
              "value": "06",
              "label": "06"
            },
            {
              "value": "07",
              "label": "07"
            },
            {
              "value": "08",
              "label": "08"
            },
            {
              "value": "09",
              "label": "09"
            },
            {
              "value": "10",
              "label": "10"
            },
            {
              "value": "11",
              "label": "11"
            },
            {
              "value": "12",
              "label": "12"
            },
            {
              "value": "13",
              "label": "13"
            },
            {
              "value": "14",
              "label": "14"
            },
            {
              "value": "15",
              "label": "15"
            },
            {
              "value": "16",
              "label": "16"
            },
            {
              "value": "17",
              "label": "17"
            },
            {
              "value": "18",
              "label": "18"
            },
            {
              "value": "19",
              "label": "19"
            },
            {
              "value": "20",
              "label": "20"
            },
            {
              "value": "21",
              "label": "21"
            },
            {
              "value": "22",
              "label": "22"
            },
            {
              "value": "23",
              "label": "23"
            },
            {
              "value": "24",
              "label": "24"
            },
            {
              "value": "25",
              "label": "25"
            },
            {
              "value": "26",
              "label": "26"
            },
            {
              "value": "27",
              "label": "27"
            },
            {
              "value": "28",
              "label": "28"
            },
            {
              "value": "29",
              "label": "29"
            },
            {
              "value": "30",
              "label": "30"
            },
            {
              "value": "31",
              "label": "31"
            },
            {
              "value": "32",
              "label": "32"
            },
            {
              "value": "33",
              "label": "33"
            },
            {
              "value": "34",
              "label": "34"
            },
            {
              "value": "35",
              "label": "35"
            },
            {
              "value": "36",
              "label": "36"
            },
            {
              "value": "37",
              "label": "37"
            },
            {
              "value": "38",
              "label": "38"
            },
            {
              "value": "39",
              "label": "39"
            },
            {
              "value": "40",
              "label": "40"
            },
            {
              "value": "41",
              "label": "41"
            },
            {
              "value": "42",
              "label": "42"
            },
            {
              "value": "43",
              "label": "43"
            },
            {
              "value": "44",
              "label": "44"
            },
            {
              "value": "45",
              "label": "45"
            },
            {
              "value": "46",
              "label": "46"
            },
            {
              "value": "47",
              "label": "47"
            },
            {
              "value": "48",
              "label": "48"
            },
            {
              "value": "49",
              "label": "49"
            },
            {
              "value": "50",
              "label": "50"
            },
            {
              "value": "51",
              "label": "51"
            },
            {
              "value": "52",
              "label": "52"
            },
            {
              "value": "53",
              "label": "53"
            },
            {
              "value": "54",
              "label": "54"
            },
            {
              "value": "55",
              "label": "55"
            },
            {
              "value": "56",
              "label": "56"
            },
            {
              "value": "57",
              "label": "57"
            },
            {
              "value": "58",
              "label": "58"
            },
            {
              "value": "59",
              "label": "59"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "hide_timer_on_completed",
          "label": "Hide counter when completed",
          "default": false
        },
        {
          "type": "richtext",
          "id": "timer_completed_text",
          "label": "Texte de fin du compteur",
          "default": "<p>Le compte à rebours est terminé !</p>"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Color",
          "default": "#FFFFFF"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Promotional",
      "name": "🏆 Compteur Elite",
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "timer"
        }
      ]
    }
  ]
}
{% endschema %}